@media (max-width: 991px){
    .header{
        padding: 0 20px;
    }
    .promo{
        background-position: -210px 0px;
        min-height: 600px;
        padding-bottom: 20px;
        &__wrapper{
            padding: 0 20px;
        }
        &__header{
            font-size: 35px;
            line-height: 20px;
        }
        &__subheader{
            margin-top: 5px;
            font-size: 18px;
        }
        &__icons{
            margin-top: 45px;
        }
    }
    .button{
        &_main{
            margin-top: 50px;
        }
    }
    .advantage{
        min-width: 690px;
        padding: 50px 0;
        &__wrapper{
            margin-top: 45px;
            padding: 0 15px;
        }
        &__list{
            width: 210px;
        }
        &__subtitle{
            margin-top: 25px;
        }
        &__descr{
            margin-top: 20px;
            font-size: 12px;
        }
    }
    .consultation{
        padding: 70px 15px 60px 15px;
        min-height: 600px;
    }
    .title{
        &_left{
            line-height: 40px;
            font-size: 34px;
        }
    }
    .carousel{
        padding: 60px 15px;
        .prev, .next{
            display: none;
        }
        &__inner{
            img{
                width: 90%;
            }
        }
    }
    .catalog{
        padding-bottom: 70px;
        &__content{
            margin-top: 50px;
            justify-content: space-evenly;
        }
        &__tabs{
            margin-top: 50px;
        }
        &__tab{
            width: 200px;
        }
        &-item{
            margin: 0px 10px 20px;
        }
    }
    .reviews{
        padding: 0 15px 50px;
        &__photo{
            margin-right: 25px;
        }
    }
    .footer{
        &__info{
            width: 400px;
            height: 250px;
        }
        &__addr{
            font-size: 16px;
            margin-bottom: 32px;
        }
    }
}
@media (max-width: 800px){
    .header{
        &__logo{
            width: 180px;
        }
        &__official{
            font-size: 10px;
            span{
                font-size: 15px;
            }
        }
        &__phone{
            font-size: 15px;
        }
    }
    .button{
        &_header{
            width: 135px;
            height: 26px;
            font-size: 11px;
        }
        &_main{
            width: 275px;
            height: 45px;
            font-size: 16px;
        }
    }
    .promo{
        padding-top: 15px;
        min-height: 550px;
        &__header{
            font-size: 30px;
        }
        &__subheader{
            font-size: 16px;
        }
        &__wrapper{
            margin-top: 60px;
        }
        &__icons{
            margin-top: 35px;
            width: 400px;
        }
        &__icon{
            font-size: 12px;
        }
    }
    .consultation{
        padding: 45px 15px 40px 30px;
    }
    .title{
        &_lefr{
            font-size: 30px;
        }
    }
    .carousel{
        padding: 40px 15px;
    }
    .reviews{
        &__row{
            margin-top: 45px;
        }
    }
    .footer{
        height: 550px;
        iframe{
            height: 550px;
        }
    }
    
}

@media (max-width: 710px){
    .promo{
        min-height: 480px;
        &__header{
            font-size: 28px;
            line-height: 20px;
        }
        &__subheader{
            font-size: 14px;
            line-height: 15px;
        }
        &__icons{
            margin-top: 25px;
            width: 370px;
        }
        &__icon{
            img{
                margin-bottom: 15px;
            }
        }
    }
    .advantage {
        min-width: 630px;
        padding: 30px 0;
        &__wrapper{
            margin-top: 45px;
        }
        &__subtitle{
            font-size: 15px;
        }
        &__descr{
            margin-top: 15px;
            font-size: 12px;
        }
        &__list{
            width: 190px;
        }
    }
    .title{
        font-size: 25px;
    }
    .catalog{
        &__tabs{
            margin-top: 25px;
        }
        &__tab{
            height: 44px;
            font-size: 15px;
            width: 190px;
        }
        &__content{
            margin-top: 35px;
            justify-content: space-between;
        }
    }
    .review{
        &__comment{
            font-size: 16px;
            line-height: 20px;
        }
    }
}
@media (max-width: 650px){
    .header{
        &__logo{
            width: 140px;
        }
        &__official{
            font-size: 8px;
            span{
                font-size: 13px;
            }
        }
        &__phone{
            font-size: 12px;           
        }
    }
    .button{
        &_header{
            width: 110px;
            height: 23px;
            font-size: 10px;
        }
        &_main{
            width: 275px;
            height: 45px;
            font-size: 16px;
        }
    }
    .promo{
        &__wrapper{
            margin-top: 50px;
        }
        &__link{
            font-size: 14px;
        }
    }
    .advantage{
        min-width: 300px;
        &__wrapper{
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
        &__list{
            margin-top: 20px;
            width: 260px;
        }
        &__descr{
            font-size: 13px;
        }
    }
    .consultation{
        min-height: 500px;
    }
    .catalog{
        &__content{
            justify-content: space-evenly;
        }
        &__tab{
            height: 40px;
            width: 166px;
            line-height: 40px;
        }
       
    }
    .review{
        &__comment{
            font-size: 14px;
            line-height: 17px;
        }
    }
    .footer{
        height: 450px;
        iframe{
            height: 450px;
        }
        &__info{
            width: 400px;
            height: 180px;
            padding: 25px 68px 60px;
        }
        &__addr{
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__phone{
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 600px){
    .promo{
        min-height: 450px;
        &__wrapper{
            align-items: center;
            margin-top: 35px;
        }
        &__icons{
            margin-top: 30px;
        }
    }
    .advantage{
        min-width: 500px;
        &__wrapper{
            margin-top: 30px;
        }
        &__subtitle{
            margin-top: 15px;
        }
    }
    .feed-form{
        margin: 0px auto;
        margin-top: 36px;
    }
    .title_left{
        text-align: center;
        font-size: 22px;
    }
    .consultation{
        &__descr{
            font-size: 15px;
            line-height: 20px;
        }
    }
    .feed-form{
        margin-top: 25px;
    }
    .catalog{
        &__tab{
            height: 35px;
            width: 120px;
            line-height: 35px;
            font-size: 10px;
        }
       
    }
    .reviews{
        padding-bottom: 40px;
        &__row{
            margin-top: 35px;
        }
        &__photo{
            img{
                width: 140px;
                height: 140px;
            }
        }
    }
    .review{
        &__comment{
            p{
                padding-bottom: 10px;
            }
        }
    }
}
@media (max-width: 520px){
    .header{
        flex-wrap: wrap;
        &__logo{
            width: 180px;
        }
        &__official{
            width: 160px;
            font-size: 9px;
            span{
                font-size: 13px;
            }
        }     
        &__contacts{
            width: 500px;
            margin-top: 10px;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
        }
        &__phone{
            font-size: 17px;
        }
    }
    .button{
        &_header{
            width: 155px;
            height: 32px;
            font-size: 12px;
        }
        &_main{
            width: 275px;
            height: 45px;
            font-size: 16px;
        }
    }
    .promo{
        min-height: 500px;
    }
    .advantage {
        min-width: 290px;
    }
    .title{
        font-size: 20px;
        &_left{
            line-height: 30px;
        }
    }
    .consultation{
        padding: 30px 15px 20px 15px;
        &__descr{
            margin-top: 30px;
        }
    }
    .reviews{
        &__photo{
            img{
                width: 100px;
                height: 100px;
            }
        }
    }
    .review{
        &__comment{
            font-size: 11px;
            line-height: 14px;
        }
    }
    .footer{
        &__info{
            width: 100%;
            height: 180px;
            padding: 25px 30px 60px;
            height: 160px;
        }
        &__addr{
            margin-bottom: 15px;
        }
        &__social-item{
            width: 40px;
            height: 40px;
            img{
                height: 20px;
            }
        }
    }
}
@media (max-width: 430px){
    .header{
        flex-direction: column;
        &__logo{
            width: 220px;
        }
        &__official{
            margin-top: 10px;
            width: 280px;
            font-size: 14px;
            span{
                font-size: 20px;
            }
        }
        &__contacts{
            flex-direction: column;
            width: 280px;
        }
    }
    .button{
        &_header{
            width: 175px;
            height: 37px;
            margin-top: 5px;
        }
        &_main{
            margin-top: 30px;
            width: 275px;
            height: 45px;
            font-size: 16px;
        }
    }
    .promo{
        &__wrapper{
            margin-top: 50px;
        }
        &__header{
            font-size: 22px;
        }
        &__subheader{
            font-size: 12px;
            line-height: 7px;
            margin-top: 0;
        }
        &__icons{
            width: 300px;
            margin-top: 20px;
        }
    }
    .title{
        &_left{
            font-size: 18px;
            line-height: 23px;
        }
    }
    .consultation{
        min-height: 460px;
        &__descr{
            font-size: 13px;
            line-height: 18px;
        }
    }
    .feed-form{
        width: 270px;
    }
    .catalog{
        &__tab{
            height: 35px;
            width: 100px;
            line-height: 35px;
            font-size: 10px;
        }
        &__tabs{
            flex-direction: column;
            margin-top: 15px;
        }
        &__tab{
            width: 150px;
            margin-bottom: 10px;
        }
        &__content{
            margin-top: 25px;
        }
    }
    .reviews{
        padding-bottom: 40px;
        &__row{
            margin-top: 35px;
        }
        &__photo{
            img{
                width: 80px;
                height: 80px;
            }
        }
    }
    .review{
        &__title{
            text-align: right;
        }
        &__comment{
            &-disable{
                display: block;
            }
            &-active{
                display: none;
            }
            p{
                padding-bottom: 8px;
            }
        }
    }
}